# 盛菜装盘--结果导出

## 导出为xlsx文件

In [1]:
import pandas as pd
df = pd.DataFrame({'姓名':['张三','李四','王五'],'班级':['一班','二班','三班'],'年龄':[2,8,None]})
df

   姓名  班级   年龄
0  张三  一班  2.0
1  李四  二班  8.0
2  王五  三班  NaN

### 设置文件导出路径

In [3]:
df.to_excel(excel_writer = r'/Users/luofly/Others/to_excel.xlsx')

### 设置sheet名称

In [4]:
df.to_excel(r'/Users/luofly/Others/to_excel.xlsx',sheet_name = '测试sheetname')

### 设置索引

`index`参数默认为True，会导出索引，设置`index = False`可以不导出索引

In [6]:
df.to_excel(r'/Users/luofly/Others/to_excel.xlsx',
            sheet_name = '测试sheetname',
            index = False)

### 设置要导出的列

In [9]:
df.to_excel(r'/Users/luofly/Others/to_excel.xlsx',
            sheet_name = '测试sheetname',
            index = False,
           columns=['姓名','年龄'])

### 设置编码格式

In [10]:
df.to_excel(r'/Users/luofly/Others/to_excel.xlsx',
            sheet_name = '测试sheetname',
            index = False,
           columns=['姓名','年龄'],
           encoding='utf-8')

### 缺失值处理

In [23]:
df.to_excel(r'/Users/luofly/Others/to_excel.xlsx',
            sheet_name = '测试sheetname',
            index = False,
            columns=['姓名','年龄'],
            encoding='utf-8',
            na_rep=0  #缺失值填充为0
           )

### 无穷值处理

设置`inf_rep`参数

### `to_excel()`参数介绍

DataFrame.to_excel(excel_writer, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, merge_cells=True, encoding=None, inf_rep='inf', verbose=True, freeze_panes=None)

`DataFrame.to_excel()` 参数含义为：
- excel_writer：写入的目标excel文件，可以是文件路径、ExcelWriter对象;
- sheet_name：被写入的sheet名称，string类型，默认为’sheet1′;
- na_rep：缺失值表示，string类型;
- float_format：浮点数的格式
- columns：要写入的列
- header：是否写表头信息，布尔或list of string类型，默认为True;
- index：是否写行号，布尔类型，默认为True;
- index_label：索引标签
- startrow：开始行，其余会被舍弃
- startcol：开始列，其余会被舍弃
- engine：写入的引擎，可以是：excel.xlsx.writer, io.excel.xls.writer, io.excel.xlsm.writer
- merge_cells：合并单元格配置
- encoding：指定写入编码，string类型。
- inf_rep：指定数学符号无穷在Excel的表示
- verbose：未知
- freeze_panes：冻结窗格

## 将文件导出到多个Sheet

将多个df放在同一个Excel的不同Sheet中，用`ExcelWriter()`函数

In [2]:
df2 = pd.DataFrame({'姓名':['张三','sun','moon'],'班级':['一班','a班','b班']})
df2

     姓名  班级
0    张三  一班
1   sun  a班
2  moon  b班

In [3]:
# 声明一个读写对象
excelpath = r'C:\Users\12112\Documents\mysql维护工单抽取明细拆分\to_excel.xlsx'   # 为文件要存放的路径
writer = pd.ExcelWriter(excelpath,engine='xlsxwriter')
# 分别写入多个sheet，并命名sheet
df.to_excel(writer,sheet_name='df')
df2.to_excel(writer,sheet_name='df2')
writer.save()