# 炒菜计时器--时间序列

## 获取当前时刻的时间

### 返回当前时刻的日期和时间

In [3]:
from datetime import datetime
datetime.now()

datetime.datetime(2019, 5, 5, 22, 23, 32, 450531)

### 分别返回当前时刻的年、月、日

In [2]:
datetime.now().year

2019

In [3]:
datetime.now().month

5

In [4]:
datetime.now().day

4

### 返回当前时刻的周数

返回周几，Python中周几时从0开始数的，周日返回是6，所以要在`weekday()`后面加`1`

In [6]:
datetime.now().weekday()+1

6

In [8]:
datetime.now().isocalendar()  #返回 年、第几周，第几天，(2019, 18, 6)表示2018年第18周的第6天

(2019, 18, 6)

In [14]:
datetime.now().isocalendar()[0] #返回 第几周

2019

## 指定日期和时间的格式`strftime()`

In [4]:
dt = datetime.now()

In [25]:
dt.date()

datetime.date(2019, 5, 4)

In [26]:
dt.time()

datetime.time(21, 28, 12, 171795)

`strftime()`将日期和时间的格式转化为自定义格式

| 代   码 | 说   明 |
| ---- | ---- |
| %F | %Y-%m-%d 的简写形式，如：2019-05-04 |
| %D | %m/%d/%y 的简写形式，如：05/04/19 |
| %a | 星期的英文单词的缩写：如星期一， 则返回 Mon |
| %A | 星期的英文单词的全拼：如星期一，返回 Monday |
| %b | 月份的英文单词的缩写：如一月， 则返回 Jan |
| %B | 月份的引文单词的缩写：如一月， 则返回 January |
| %c | 返回datetime的字符串表示，如03/08/15 23:01:26 |
| %d | 返回的是当前时间是当前月的第几天 |
| %f | 微秒的表示： 范围: [0,999999] |
| %H | 以24小时制表示当前小时 |
| %I | 以12小时制表示当前小时 |
| %j | 返回 当天是当年的第几天 范围[001,366] |
| %m | 返回月份 范围[0,12] |
| %M | 返回分钟数 范围 [0,59] |
| %P | 返回是上午还是下午–AM or PM |
| %S | 返回秒数 范围 [0,59]|
| %U | 返回当周是当年的第几周 以周日为第一天 |
| %W | 返回当周是当年的第几周 以周一为第一天 |
| %w | 当天在当周的天数，范围为[0, 6]，6表示星期天 |
| %x | 日期的字符串表示 ：03/08/15 |
| %X | 时间的字符串表示 ：23:22:08 |
| %y | 两个数字表示的年份 15 |
| %Y | 四个数字表示的年份 2015 |
| %z | 与utc时间的间隔 （如果是本地时间，返回空字符串） |
| %Z | 时区名称（如果是本地时间，返回空字符串） |

In [6]:
dt.strftime('%Y-%m-%d %H:%M:%S')

'2019-05-05 22:23:38'

In [9]:
dt.strftime('%F')

'2019-05-05'

In [11]:
dt.strftime('%X')

'22:23:38'

In [12]:
dt.strftime('%F %X')

'2019-05-05 22:23:38'

## 字符串和时间格式相互转换

### `str()`将时间格式转换为字符串格式

In [13]:
dt

datetime.datetime(2019, 5, 5, 22, 23, 38, 117152)

In [14]:
str(dt)

'2019-05-05 22:23:38.117152'

### `dateutil库`将字符串格式转换为时间格式

In [17]:
str_time = '2019-05-04'
type(str_time)

str

用一个第三方库 `dateutil` 中的 `parser` `parse()` 函数来解析字符串中的日期时间

> 关于parser  
字符串可以很随意，可以用时间日期的英文单词，可以用横线、逗号、空格等做分隔符。  
没指定时间默认是0点，没指定日期默认是今天，没指定年份默认是今年。

In [18]:
from dateutil.parser import parse
parse(str_time)

datetime.datetime(2019, 5, 4, 0, 0)

## 时间索引

In [1]:
import pandas as pd
import numpy as np
df = pd.read_excel(r'test.xlsx',sheet_name='工作表3')
df

  订单编号 客户姓名  年龄  唯一识别码       成交时间
0   A1   张瞳  54    101 2018-08-08
1   A2   李谷  16    102 2018-08-09
2   A3   孙凤  47    103 2018-08-10
3   A3   孙凤  41    103 2018-08-10
4   A4   赵恒  37    104 2018-08-12
5   A5   赵恒  38    104 2018-08-13

选取成交时间为2018-08-08的订单:

第一种方法，用`datetime`：

In [9]:
from datetime import datetime
df[df['成交时间'] == datetime(2018,8,8)]

  订单编号 客户姓名  年龄  唯一识别码       成交时间
0   A1   张瞳  54    101 2018-08-08

第二种方法，用`dateutil.parser.parse`:

In [8]:
from dateutil.parser import parse
df[df['成交时间'] == parse('2018-08-08')]

  订单编号 客户姓名  年龄  唯一识别码       成交时间
0   A1   张瞳  54    101 2018-08-08

In [10]:
df[df['成交时间'] > parse('2018-08-09')]

  订单编号 客户姓名  年龄  唯一识别码       成交时间
2   A3   孙凤  47    103 2018-08-10
3   A3   孙凤  41    103 2018-08-10
4   A4   赵恒  37    104 2018-08-12
5   A5   赵恒  38    104 2018-08-13

In [11]:
df[df['成交时间'] < parse('2018-08-10')]

  订单编号 客户姓名  年龄  唯一识别码       成交时间
0   A1   张瞳  54    101 2018-08-08
1   A2   李谷  16    102 2018-08-09

In [12]:
df[(df['成交时间']>parse('2018-08-08')) & (df['成交时间'] < parse('2018-08-12'))]

  订单编号 客户姓名  年龄  唯一识别码       成交时间
1   A2   李谷  16    102 2018-08-09
2   A3   孙凤  47    103 2018-08-10
3   A3   孙凤  41    103 2018-08-10

## 时间运算

### 两个时间之差

In [15]:
from datetime import datetime
from dateutil.parser import parse
cha = parse('2018-05-21 19:50') - parse('2018-05-18 20:32')
cha
# 时间差为2天83880秒

datetime.timedelta(2, 83880)

In [16]:
cha.days  # 返回天数

2

In [17]:
cha.seconds  #返回时间差中的秒数部分

83880

In [18]:
cha.seconds/3600  #时间差中的秒数部分换算成小时

23.3

### 时间偏移

#### 方法一：用`timedelta`，只能偏移天、秒、微秒单位的时间

In [19]:
from datetime import timedelta
date = parse('2018-5-18 20:32')
date

datetime.datetime(2018, 5, 18, 20, 32)

往后推1天:

In [20]:
date + timedelta(days = 1)

datetime.datetime(2018, 5, 19, 20, 32)

往后推60秒：

In [21]:
date + timedelta(seconds = 60)

datetime.datetime(2018, 5, 18, 20, 33)

#### 方法二：Pandas中的`date offsets`，可直接实现天、小时、分钟的时间偏移，不用对秒进行换算

In [23]:
from pandas.tseries.offsets import Day,Hour,Minute
date = parse('2018-5-18 20:32')

往后推1天:

In [29]:
dt = date + Day(1)
dt

Timestamp('2018-05-19 20:32:00')

In [28]:
dt.strftime('%F %X')

'2018-05-19 20:32:00'

往后推1小时

In [30]:
date + Hour(1)

Timestamp('2018-05-18 21:32:00')

往后推10分钟

In [31]:
date + Minute(10)

Timestamp('2018-05-18 20:42:00')