In [2]:
subject = ['Excel', 'SQL', 'Python', '统计学']
for sub in subject:
    print(f'我目前正在学习{sub}')

我目前正在学习Excel
我目前正在学习SQL
我目前正在学习Python
我目前正在学习统计学

# 创建DataFrame
pd.DataFrame 这个地方注意区分大小写

In [6]:
import pandas as pd 
df31 = pd.DataFrame([['a','A'],['b','B'],['c','C'],['d','D']],
                    columns = ['小写','大写'],
                   index = ['一','二','三','四'])
df31

  小写 大写
一  a  A
二  b  B
三  c  C
四  d  D

In [7]:
data = {'小写':['a','b','c','d'],'大写':['A','B','C','D']}
df41 = pd.DataFrame(data)
df41

  小写 大写
0  a  A
1  b  B
2  c  C
3  d  D

# 导入外部数据

## 导入xlsx文件

### 基本导入

In [2]:
import pandas as pd 
df = pd.read_excel(r'test.xlsx')  # 没有指定具体路径，只有一个文件夹的时候，默认路径时程序文件所在的路径、文件夹
df

   编号  年龄 性别       注册时间
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11
4  A5  37  男 2018-08-12

pandas.read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, parse_dates=False, date_parser=None, thousands=None, comment=None, skipfooter=0, convert_float=True, **kwds)

pd.read_excel(）参数说明：
- io：excel文件，可以是文件路径、文件网址、file-like对象、xlrd workbook
- sheetname：返回指定的sheet，参数可以是字符串（sheet名）、整型（sheet索引）、list（元素为字符串和整型，返回字- 典{‘key’:’sheet’}）、none（返回字典，全部sheet）
- header：指定数据表的表头，参数可以是int、list of ints，即为索引行数为表头
- names：返回指定name的列，参数为array-like对象。
- index_col：设定索引的列，参数可以是int、list of ints
- usecol：设定需要解析的列，默认为None，代表解析素有，如果直传一个int，代表解析到最后的那个列，如果传的是list则返回的是限定的列，比如：“A:E”或“A,C,E:F” 【**这个参数很有用**】
- squeeze：如果解析的数据只包含一列数据，则返回一个Series，默认返回为DataFrame
- dtype：可以制定每列的类型，示例：{‘a’: np.float64, ‘b’: np.int32}
- engine：如果 io 不是缓冲区或路径，则必须设置 io。 可接受的值是 None 或 xlrd
- converters：自定形式，设定对应的列要用的转换函数。
- true_values：设定安歇为True值，不常用
- false_values：设定哪些为False值，不常用
- shiprows：需要跳过的行，list-like类型【**这个参数很有用**】
- nrows：要分析的行数
- na_values：N/A值列表
- parse_dates：传入的是list，将指定的列解析为date格式【**这个参数很有用**】
- date_parser：指定将输入的字符串转换为可变的时间数据。Pandas默认的数据读取格式是‘YYYY-MM-DD - HH:MM:SS’。如需要读取的数据没有默认的格式，就要人工定义。
- thousands：千位分格数字的解析
- comment：设定注释标识，在注释内的内容不解析
- skipfooter：跳过末尾行
- convert_float：将小数位为0的float类型转为int
- **kwds：不清楚

### 指定导入哪个sheet

In [4]:
import pandas as pd 
df = pd.read_excel(r'/Users/luofly/Others/test.xlsx',sheet_name = '工作表1')
df

   编号  年龄 性别       注册时间
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11
4  A5  37  男 2018-08-12

### 指定行索引
文件导入DataFrame时，用index_col表示用第几列做行索引，从0开始计数，默认值为0

In [8]:
df = pd.read_excel(r'/Users/luofly/Others/test.xlsx',
                   sheet_name='工作表1', index_col=0)
df

    年龄 性别       注册时间
编号
A1  54  男 2018-08-08
A2  16  女 2018-08-09
A3  47  女 2018-08-10
A4  41  男 2018-08-11
A5  37  男 2018-08-12

### 指定列索引
文件导入DataFrame时，用header表示用第几行做列索引，从0开始计数，默认值为0

In [12]:
df = pd.read_excel(r'/Users/luofly/Others/test.xlsx',
                   sheet_name='工作表1', header=0)
df

   编号  年龄 性别       注册时间
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11
4  A5  37  男 2018-08-12

### 指定导入列
文件导入DataFrame时，设定`usecols`参数列表来导入指定的列，从0开始计数

In [19]:
df = pd.read_excel(r'/Users/luofly/Others/test.xlsx',
                   sheet_name='工作表1', usecols=[1, 2])
df

   年龄 性别
0  54  男
1  16  女
2  47  女

### 【**重点**】读取Excel的指定范围内的数据：

In [31]:
df2 = pd.read_excel(r'test.xlsx',sheet_name='工作表9')
df2

   Unnamed: 0  Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
0         NaN         NaN        NaN        NaN        NaN        NaN
1         NaN         NaN        NaN        NaN        NaN        NaN
2         NaN         NaN         名次         姓名         学号         成绩
3         NaN         NaN          1          张        100        650
4         NaN         NaN          2          王        101        600
5         NaN         NaN          3          李        102        578
6         NaN         NaN          4          赵        103        550

#### 方法一：直接在读取Excel的时候指定，但这种方法只适用与列索引在数据区域的第一行的情况

In [8]:
# skiprows=3 意思是跳过前3行，usecols='C:F'意思是选择C列到F列数据
df3 = pd.read_excel(r'test.xlsx',sheet_name='工作表9',skiprows=3,usecols='C:F')
df3

   名次 姓名   学号   成绩
0   1  张  100  650
1   2  王  101  600
2   3  李  102  578
3   4  赵  103  550

#### 方法二：先读取整个Excel工作表，之后把数据区域和行索引分别切片取出，再重置索引

In [30]:
data = df2.iloc[3:,2:]  #数据区域切片
data.columns = list(df2.iloc[2,2:])  #索引切片，之后转格式为list，再设置为索引
data.reset_index(drop=True,inplace=True)  #重置索引，删除原索引，用现有的替代
data

  名次 姓名   学号   成绩
0  1  张  100  650
1  2  王  101  600
2  3  李  102  578
3  4  赵  103  550

## 导出到Excel的方法

DataFrame.to_excel(excel_writer, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, merge_cells=True, encoding=None, inf_rep='inf', verbose=True, freeze_panes=None)

`DataFrame.to_excel()` 参数含义为：
- excel_writer：写入的目标excel文件，可以是文件路径、ExcelWriter对象;
- sheet_name：被写入的sheet名称，string类型，默认为’sheet1′;
- na_rep：缺失值表示，string类型;
- float_format：浮点数的格式
- columns：要写入的列
- header：是否写表头信息，布尔或list of string类型，默认为True;
- index：是否写行号，布尔类型，默认为True;
- index_label：索引标签
- startrow：开始行，其余会被舍弃
- startcol：开始列，其余会被舍弃
- engine：写入的引擎，可以是：excel.xlsx.writer, io.excel.xls.writer, io.excel.xlsm.writer
- merge_cells：合并单元格配置
- encoding：指定写入编码，string类型。
- inf_rep：指定数学符号无穷在Excel的表示
- verbose：未知
- freeze_panes：冻结窗格

## 导入csv文件
read_csv()，默认数据以逗号分隔，如果要指定分割符号，用sep参数

In [17]:
df = pd.read_csv(r'/Users/luofly/Others/test.csv', sep=',')
df

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11
4  A5  37  男  2018/8/12

read_csv()参数说明：
- filepath_or_buffer：这里可以接受一个文件名，或者一个URL，也可以接受一个打开的文件句柄，或者其他任何提供了read方法的对象。
- sep和delimiter：这两个参数是一个意思，delimiter是sep的别名；如果指定为\t（制表符）的话，就可以实现read_table的默认功能；支持使用正则表达式来匹配某些不标准的CSV文件
- mangle_dupe_cols：将冲虚的列X，指定为1，X.2，…
- skipinitialspace：在分隔符后跳过空格。
- keep_default_na：在解析数据时是否要包含默认的 NaN 值。
- na_filter：检测丢失的值标记(空字符串和 na 值的值)。 在没有 NAs 的数据中，通过过滤器 False 可以提高读取大文件的性能
- verbose：指示放置在非数字列中的 NA 值的数目
- skip_blank_lines：如果是真的，跳过空白行，而不是将其解释为 NaN 值。
- infer_datetime_format：如果启用 True 和 parse_dates，Pandas将尝试推断列中的差异的时间字符串的格式，如果可以推断出来，则切换到更快的分析方法。 在某些情况下，这可以使解析速度提高5-10倍。
- keep_date_col：解析出日期序列后，是否保留原来的列
- dayfirst：日期格式，DD/MM哪个在前
- iterator：返回 TextFileReader 对象用于迭代或 get chunk ()。
- chunksize：返回 TextFileReader 对象进行迭代。 有关iterator和chunksize的更多信息，请参见 IO 工具文档。
- compression：用于磁盘数据的实时解压
- decimal：识别有小数点的字符
- lineterminator：字符将文件分隔程行，只有C解析器才有效
- quotechar：用于表示引用项的开始和结束的字符。 引用的项可以包括分隔符，它将被忽略。
- quoting：控制字段引用行为
- escapechar：跳过的字符？
- dialect：如果提供了这个参数，这个参数将覆盖以下参数的值(默认或不是) : 分隔符、双引号、 escapechar、 skipinitialspace、 quotechar 和引号。 如果需要重写值，将发布一个 ParserWarning。 详情请参阅 csv 方言文档。
- tupleize_cols：在列上留下一个元组列表(默认情况是在列上转换为多索引)
- error_bad_lines：有太多字段的行(例如 csv 行，有太多逗号)将默认引发异常，并且不会返回 DataFrame。 如果错误，那么这些”bad lines”将从返回的 DataFrame 中删除。
- warn_bad_lines：如果错误错误行为是 False，并警告错误行是 True，那么对于每个”坏行”的警告将是输出。
- doublequote：指定 quotechar 时，引用不是QUOTE_NONE，指示是否将两个连续的 quotechar 元素解释为一个单独的 quotechar 元素。
- delim_whitespace：设定是否使用空白做字段区隔
- low_memory：内部处理文件的块，导致较低的内存使用同时分析，但可能混合类型推理。 为了确保没有混合类型设置 False，或指定具有 dtype 参数的类型。 请注意，整个文件被读入一个单一的 DataFrame，使用 chunksize 或 - iterator 参数将数据以块的形式返回。 (只有 c 解析器有效)
- memory_map：如果为文件或缓冲区提供一个文件程序，将文件对象直接映射到内存中，并直接从内存访问数据。 使用此选项可以提高性能，因为不再有任何 i / o 开销。
- float_precision：指定 c 引擎应用于浮点值的转换器。

【**重要**】加载CSV文件的方法同加载Excel类似。但是从性能上导入csv要比导入Excel快很多，推荐使用csv导入。但是如果导入的csv的格式存在一些问题，则可能出现错行的问题。

## 导出到CSV文件

DataFrame.to_csv(path_or_buf=None, sep=', ', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression=None, quoting=None, quotechar='"', line_terminator='\n', chunksize=None, tupleize_cols=None, date_format=None, doublequote=True, escapechar=None, decimal='.')

具体参数含义为（与“导入CSV文件”、“导出为Excel文件”重复的内容不再单独说明）：
- path_or_buf：写入的文件名或文件路径
- mode：写入文件的模式，默认为w，改为a为追加。
- date_format：时间格式设定

### 指明读取行数
用read_csv()的`nrows`参数设定，这个`nrows`参数同样适用于read_excel()函数

In [23]:
df = pd.read_csv(r'/Users/luofly/Others/测试含中文路径/test.csv', sep=',', nrows=3)
df

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10

### 指定文件编码格式
用`encoding`参数来设置，默认编码是`utf-8 `

In [24]:
df = pd.read_csv(r'/Users/luofly/Others/测试含中文路径/test.csv', encoding='utf-8')
df

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11
4  A5  37  男  2018/8/12

## 导入SQL

In [ ]:
import pymysql
sql = 'SELECT * FROM `每日重点`'
db = pymysql.connect(host='db4free.net',user='',password='',db='') 
df = pd.read_sql(sql,db)
db.close() #断开数据库连接
df

In [30]:
df.shape

(17, 23)

# 熟悉数据
## 用head()预览前几行

In [36]:
df = pd.read_csv(r'/Users/luofly/Others/test.csv', sep=',')
df.head(3)  # 如果不指定行数，默认为5行

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10

## 用shape获取数据表的大小
用shape方法获取行数和列数时不会把行索引和列索引计算在内

In [39]:
df.shape

(5, 4)

## 用info()获取数据类型

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
编号      5 non-null object
年龄      5 non-null int64
性别      5 non-null object
注册时间    5 non-null object
dtypes: int64(1), object(3)
memory usage: 240.0+ bytes

## 用describe获取数值分布情况

In [1]:
df.describe()

NameError: name 'df' is not defined