# 开始烹调--数据运算

## 算术运算

In [33]:
# %%time
df = pd.read_excel(r'test.xlsx',sheet_name='工作表5')
df

  Z1 Z2  C1  C2
0  A  a   1   2
1  A  b   3   4
2  B  a   5   6
3  B  b   7   8

两列相加：

In [4]:
df['C1']+df['C2']

0     3
1     7
2    11
3    15
dtype: int64

两列相减：

In [5]:
df['C1'] - df['C2']

0   -1
1   -1
2   -1
3   -1
dtype: int64

两列相乘:

In [6]:
df['C1']*df['C2']

0     2
1    12
2    30
3    56
dtype: int64

两列相除：

In [7]:
df['C1'] / df['C2']

0    0.500000
1    0.750000
2    0.833333
3    0.875000
dtype: float64

任意列加/减一个常数值：

In [8]:
df['C2'] + 2

0     4
1     6
2     8
3    10
Name: C2, dtype: int64

任意列乘/除一个常数值：

In [10]:
df['C2'] * 3

0     6
1    12
2    18
3    24
Name: C2, dtype: int64

## 比较运算

In [11]:
df['C1'] > df['C2']

0    False
1    False
2    False
3    False
dtype: bool

In [12]:
df['C1'] == df['C2']

0    False
1    False
2    False
3    False
dtype: bool

In [13]:
df['C1'] < df['C2']

0    True
1    True
2    True
3    True
dtype: bool

In [14]:
df['C1'] >= df['C2']

0    False
1    False
2    False
3    False
dtype: bool

In [15]:
df['C1'] != df['C2']

0    True
1    True
2    True
3    True
dtype: bool

## 汇总运算

### `count()`非空值计数

`count()`可以直接在整个数据表上使用，返回每列的非空值个数

In [28]:
df.count()

Z1    4
Z2    4
C1    4
C2    4
dtype: int64

设置参数`axis=1`，求取每一行的非空值个数

In [29]:
df.count(axis=1)

0    4
1    4
2    4
3    4
dtype: int64

单独查看某一列或者某一行的非空值个数：

In [30]:
df['C1'].count()

4

### `sum()`求和

In [35]:
df

  Z1 Z2  C1  C2
0  A  a   1   2
1  A  b   3   4
2  B  a   5   6
3  B  b   7   8

无参数，默认对所有列求和

In [31]:
df.sum()

Z1    AABB
Z2    abab
C1      16
C2      20
dtype: object

设置参数`axis = 1`对所有行求和，注意，行内有字符串和数字同时存在时，计算过程中字符串被忽略了

In [34]:
df.sum(axis = 1)

0     3
1     7
2    11
3    15
dtype: int64

可以把某一行或列单独索引出来，进行求和

In [40]:
df['C1'].sum()

16

### `mean()`求平均值

In [41]:
df.mean()

C1    4.0
C2    5.0
dtype: float64

In [42]:
df.mean(axis=1)

0    1.5
1    3.5
2    5.5
3    7.5
dtype: float64

In [43]:
df['C1'].mean()

4.0

### `max()`求最大值

In [44]:
df.max()

Z1    B
Z2    b
C1    7
C2    8
dtype: object

In [45]:
df.max(axis=1)

0    2
1    4
2    6
3    8
dtype: int64

In [46]:
df['C1'].max()

7

### `min()`求最小值

In [47]:
df.min()

Z1    A
Z2    a
C1    1
C2    2
dtype: object

In [48]:
df.min(axis = 1)

0    1
1    3
2    5
3    7
dtype: int64

In [49]:
df['C1'].min()

1

### `median()`求中位数

In [53]:
df

  Z1 Z2  C1  C2
0  A  a   1   2
1  A  b   3   4
2  B  a   5   6
3  B  b   7   8

In [50]:
df.median()

C1    4.0
C2    5.0
dtype: float64

In [51]:
df.median(axis=1)

0    1.5
1    3.5
2    5.5
3    7.5
dtype: float64

In [52]:
df['C1'].median()

4.0

### `mode()`求众数

In [57]:
df['C1'].mode()

0    1
1    3
2    5
3    7
dtype: int64

### `var()`求方差

In [59]:
df['C1'].var()

6.666666666666667

### `std()`求标准差

In [60]:
df['C1'].std()

2.581988897471611

### `quantile()`求分位数

求取C列中的四分之一分位数

In [61]:
df['C1'].quantile(0.25)

2.5

## 相关性运算`corr()`

### 求两列数据的相关系数

In [62]:
df['C1'].corr(df['C2'])

1.0

### 获取整个`DataFrame`表中各字段两两之间的相关性

In [64]:
df.corr()

     C1   C2
C1  1.0  1.0
C2  1.0  1.0