In [2]:
subject = ['Excel', 'SQL', 'Python', '统计学']
for sub in subject:
    print(f'我目前正在学习{sub}')

我目前正在学习Excel
我目前正在学习SQL
我目前正在学习Python
我目前正在学习统计学

# 创建DataFrame
pd.DataFrame 这个地方注意区分大小写

In [6]:
import pandas as pd 
df31 = pd.DataFrame([['a','A'],['b','B'],['c','C'],['d','D']],
                    columns = ['小写','大写'],
                   index = ['一','二','三','四'])
df31

  小写 大写
一  a  A
二  b  B
三  c  C
四  d  D

In [7]:
data = {'小写':['a','b','c','d'],'大写':['A','B','C','D']}
df41 = pd.DataFrame(data)
df41

  小写 大写
0  a  A
1  b  B
2  c  C
3  d  D

# 导入外部数据
## 导入xlsx文件
### 基本导入

In [2]:
import pandas as pd 
df = pd.read_excel(r'test.xlsx')  # 没有指定具体路径，只有一个文件夹的时候，默认路径时程序文件所在的路径、文件夹
df

   编号  年龄 性别       注册时间
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11
4  A5  37  男 2018-08-12

### 指定导入哪个sheet

In [4]:
import pandas as pd 
df = pd.read_excel(r'/Users/luofly/Others/test.xlsx',sheet_name = '工作表1')
df

   编号  年龄 性别       注册时间
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11
4  A5  37  男 2018-08-12

### 指定行索引
文件导入DataFrame时，用index_col表示用第几列做行索引，从0开始计数，默认值为0

In [8]:
df = pd.read_excel(r'/Users/luofly/Others/test.xlsx',
                   sheet_name='工作表1', index_col=0)
df

    年龄 性别       注册时间
编号
A1  54  男 2018-08-08
A2  16  女 2018-08-09
A3  47  女 2018-08-10
A4  41  男 2018-08-11
A5  37  男 2018-08-12

### 指定列索引
文件导入DataFrame时，用header表示用第几行做列索引，从0开始计数，默认值为0

In [12]:
df = pd.read_excel(r'/Users/luofly/Others/test.xlsx',
                   sheet_name='工作表1', header=0)
df

   编号  年龄 性别       注册时间
0  A1  54  男 2018-08-08
1  A2  16  女 2018-08-09
2  A3  47  女 2018-08-10
3  A4  41  男 2018-08-11
4  A5  37  男 2018-08-12

### 指定导入列
文件导入DataFrame时，设定`usecols`参数列表来导入指定的列，从0开始计数

In [19]:
df = pd.read_excel(r'/Users/luofly/Others/test.xlsx',
                   sheet_name='工作表1', usecols=[1, 2])
df

   年龄 性别
0  54  男
1  16  女
2  47  女

## 导入csv文件
read_csv()，默认数据以逗号分隔，如果要指定分割符号，用sep参数

In [17]:
df = pd.read_csv(r'/Users/luofly/Others/test.csv', sep=',')
df

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11
4  A5  37  男  2018/8/12

### 指明读取行数
用read_csv()的`nrows`参数设定，这个`nrows`参数同样适用于read_excel()函数

In [23]:
df = pd.read_csv(r'/Users/luofly/Others/测试含中文路径/test.csv', sep=',', nrows=3)
df

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10

### 指定文件编码格式
用`encoding`参数来设置，默认编码是`utf-8 `

In [24]:
df = pd.read_csv(r'/Users/luofly/Others/测试含中文路径/test.csv', encoding='utf-8')
df

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10
3  A4  41  男  2018/8/11
4  A5  37  男  2018/8/12

## 导入SQL

In [6]:
import pymysql
sql = 'SELECT * FROM `每日重点`'
db = pymysql.connect(host='db4free.net',user='',password='',db='') 
df = pd.read_sql(sql,db)
db.close() #断开数据库连接
df

,f1,名称,SMR,EPS评级,250日RPS,120日RPS,PEG,申万二级行业,行业RPS,备注,...,港资持仓占流通比,基金持仓占流通比2018-06-30,基金持仓占流通比2018-09-30,基金持仓占流通比2018-12-31,最新股东人数披露日,当日人均持股（万元）,比上期股东人数增加%,第二阶段（主升段）,60天月线反转,上市年龄
0,300632,光莆股份,93,88,86,89,None,光学光电子,52,重点新高,...,None,None,0.06,0.37,2019-04-10,8,-7.8,是,无,2
1,600459,贵研铂业,21,89,94,94,0.59,稀有金属,24,重点新高,...,0.87,0.05,None,0.39,2019-03-31,15,16.4,是,2019-01-16,15.9
2,002060,粤 水 电,35,90,82,65,0.74,基础建设,18,重点新高,...,None,0.26,None,1.16,2019-02-28,6,7,是,2019-02-19,12.7
3,002878,元隆雅图,74,87,93,82,0.64,营销传播,14,重点新高,...,None,0.01,15.11,20.32,2019-03-29,15,1.8,,无,1.9
4,300448,浩云科技,89,83,92,87,0.76,计算机应用,92,重点新高,...,None,0.83,None,0.5,2018-09-30,16,5.1,,无,4
5,601949,中国出版,66,61,76,90,1.18,文化传媒,40,一年内首次一年新高,...,None,0.26,None,4.6,2018-09-30,2,-5,,2019-03-07,1.6
6,600868,梅雁吉祥,16,None,75,90,None,电力,30,一年内首次一年新高,...,None,0.02,None,0.02,2019-03-31,2,-1.4,,2019-03-06,24.6
7,600732,ST新梅,0,None,79,93,0.42,房地产开发,79,一年内首次一年新高,...,None,None,None,None,2018-09-30,10,-3.6,,2019-01-16,22.7
8,600506,香梨股份,0,None,71,94,-2.02,种植业,17,一年内首次一年新高,...,None,0,None,0.07,2019-03-20,12,2.3,,无,17.3
9,000838,财信发展,68,15,65,87,-2.56,房地产开发,79,一年内首次一年新高,...,0.01,0.06,None,0.01,2018-09-30,3,-4.8,,2019-03-06,21.8
10,600217,中再资环,88,68,69,73,0.65,环保工程及服务,27,一年内首次一年新高,...,None,4.13,0.99,1.7,2018-09-30,16,9.4,,2019-03-27,19.3
11,000919,金陵药业,28,None,72,62,2.95,中药,20,一年内首次一年新高,...,0.1,0.7,None,0.03,2019-02-28,12,-1.1,,无,19.4
12,300068,南都电源,17,65,84,59,0.52,电源设备,85,一年内首次一年新高,...,0.31,2.67,1.28,3.24,2018-09-30,17,14.9,,无,9
13,002855,捷荣技术,41,16,80,73,2.21,电子制造,72,一年内首次一年新高,...,None,0,0.63,0.02,2018-09-30,3,-3.3,,无,2.1
14,002780,三夫户外,51,None,89,95,5.31,服装家纺,31,一年内首次一年新高,...,None,0,None,0.08,2019-02-28,9,-15.7,,2019-02-28,3.4
15,603309,维力医疗,61,61,79,96,-1.36,医疗器械,37,一年内首次一年新高,...,None,0.09,None,0.05,2019-02-28,13,0.4,,2019-04-02,4.1
16,600459,贵研铂业,21,89,94,94,0.59,稀有金属,24,RPS超90继续增高,...,0.87,0.05,None,0.39,2019-03-31,15,16.4,是,2019-01-16,15.9

In [30]:
df.shape

(17, 23)

# 熟悉数据
## 用head()预览前几行

In [36]:
df = pd.read_csv(r'/Users/luofly/Others/test.csv', sep=',')
df.head(3)  # 如果不指定行数，默认为5行

   编号  年龄 性别       注册时间
0  A1  54  男   2018/8/8
1  A2  16  女   2018/8/9
2  A3  47  女  2018/8/10

## 用shape获取数据表的大小
用shape方法获取行数和列数时不会把行索引和列索引计算在内

In [39]:
df.shape

(5, 4)

## 用info()获取数据类型

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
编号      5 non-null object
年龄      5 non-null int64
性别      5 non-null object
注册时间    5 non-null object
dtypes: int64(1), object(3)
memory usage: 240.0+ bytes

## 用describe获取数值分布情况

In [41]:
df.describe()

              年龄
count   5.000000
mean   39.000000
std    14.370108
min    16.000000
25%    37.000000
50%    41.000000
75%    47.000000
max    54.000000